@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/*--BASE.HTML--*/

/*--Fonts--*/

.heading {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.font {
    font-family: "PT Sans", Verdana;
    font-size: 1em;
}

.form-control-plaintext {
    font-size: 1em;
}

.font-heavy {
    font-weight: 700;
}

.font-white {
    color: #ffffff;
}

.font-blue {
    color: #023a70;
}

/*--Backgrounds--*/

.background-white {
    background-color: #ffffff;
}

.background-blue {
    background-color: #0063a3;
    color: #ffffff;
}

.background-picture {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.welcome-background {
    background-image: url("https://www.rcn.org.uk/magazines/-/media/royal-college-of-nursing/images/rcn-magazines/background-images/bulletin/2018/march/credentialing.jpg");
}

.login-background {
    background-image: url("https://www.rcn.org.uk/-/media/royal-college-of-nursing/images/rcn-magazines/background-images/bulletin/2018/november/nursing-voices-needed.jpg?la=en")
}

.register-background {
    background-image: url("https://rcnfoundation.rcn.org.uk/-/media/royal-college-of-nursing/images/celebrating-nursing-practice/istock-nurses-patients/nurses-looking-on-laptop-in-corridor.jpg")
}

.account-background {
    background-image: url("https://rcnfoundation.rcn.org.uk/-/media/royal-college-of-nursing/images/celebrating-nursing-practice/istock-nurses-patients/nurse-male-writing-on-notepad.jpg")
}

.new-question-background {
    background-image: url("https://rcnfoundation.rcn.org.uk/-/media/royal-college-of-nursing/images/celebrating-nursing-practice/istock-nurses-patients/student-nurse-asian.jpg")
}

.opaque-white {
    background-color: rgba(255, 255, 255, 0.75);
}

/*--Header--*/

.navbar-brand img {
    height: 13vh;
    margin: 0.5rem;
}

.navbar-toggler {
    border-color: #023a70;
    background-color: #0063a3;
}

.navbar-toggler i {
    color: #ffffff;
}

.nav-item {
    padding: 0.5rem 2rem;
}

/*--Main--*/

.main {
    position: relative;
    height: 80vh;
    overflow: scroll;
}

.banner {
    padding: 0.7rem;
}

.question {
    padding-bottom: 2rem;
}

.alert {
    margin: 0;
}

.border {
    border-radius: 1em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
}

/*--Links/Buttons--*/

.blue-link a {
    color: #ffffff;
    font-size: 1.3em;
    margin: 1rem;
}

.blue-link a:hover {
    color: #f3f3f3;
    text-decoration: underline;
}

.blue-btn {
    background-color: #0063a3;
    color: #ffffff;
}

.blue-btn:hover {
    background-color: #6e1a5d;
    color: #ffffff;
    text-decoration: underline;
}

.account-btns {
    margin: 1rem;
}

/*--Forms--*/

label {
    font-size: 1.3em;
    font-weight: 600;
    color: #023a70;
}

/*--Table--*/

thead {
    background-color: #023a70;
    color: #ffffff;
}

/*--Footer--*/

footer {
    position: absolute;
}

.footer-image {
    height: 2em;
    border: 4px #ffffff solid;
    border-radius: 50%;
}