<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <title>RCN Database</title>
</head>
<body>
<!--Navbar-->
    <header class="container-fluid">
        <div class="container-lg">
            <nav class="navbar navbar-light background-white">
                <a class="navbar-brand" href="{{ url_for('welcome') }}"><img src="static/images/rcn_logo_header.png" alt="RCN logo"></a>
                <button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav background-blue font">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('welcome') }}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            {% if 'email' in session %}
                                <a class="nav-link" href="#">Your Account</a>
                                <a class="nav-link" href="{{ url_for('log_out') }}">Logout</a>
                            {% else %}
                                <a class="nav-link" href="{{ url_for('log_in') }}">Login</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ask a new question</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">See current/old cases</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main>
    <!--banner-->
        <section class="container-fluid banner text-center background-blue font font-heavy">
        {% if title %}
            <h2>{{ title }}</h2>
        {% else %}
            <h2>Member Query Database</h2>
        {% endif %}        
        </section>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="text-center alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </main>
    <footer class="container-fluid background-blue font font-heavy">
<!--Sister Sites-->
        <div class="container-lg">  
            <div class="row blue-link">
                <div class="col-6 d-flex justify-content-around">
                    <a href="https://www.rcn.org.uk/">RCN Website</a>
                    <a href="https://journals.rcni.com/home">RCNi</a>
                    <a href="https://my.rcn.org.uk/RCNXtra/login">RCNXtra</a>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <a href="https://twitter.com/thercn"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/royalcollegeofnursing"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/thercn/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/user/RCNonline"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>  
    </footer>
</body>

<!--JS Links-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>