<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <title>RCN Database</title>
</head>
<body>
<!--Navbar-->
    <header class="container-fluid">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#"><img class="logo" src="static/images/rcn_logo_header.png" alt="RCN logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ask a new question</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">See ongoing cases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Browse old questions</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="container-fluid">
<!--Sister Sites-->
        <div class="container-lg">
            <div class="row justify-content-center text-center">
                <div class="sister-sites rpoas col-3 col-xl-2">
                    <a class="header-footer-text gold-hover" href="https://www.rpoas.org.uk/wp/" target="_blank"><img src="assets/images/rpoasbadge.png" alt="RPOAS Logo"><br><h5>RPOAS Scotland</h5></a>
                </div>
                <div class="sister-sites facebook col-3 col-xl-2">
                    <a class="header-footer-text gold-hover" href="https://www.facebook.com/rpoas.lanarkshire" target="_blank"><i class="fab fa-facebook-square"></i><br><h5>RPOAS Lanarkshire Facebook</h5></a>
                </div>
                <div class="sister-sites facebook col-3 col-xl-2">
                    <a class="header-footer-text gold-hover" href="contact.html" target="_blank"><i class="fas fa-envelope"></i><h5>RPOAS Lanarkshire Email</h5></a>
                </div>                
                <div class="sister-sites lphs col-3 col-xl-2">
                    <a class="header-footer-text gold-hover" href="http://www.lphs.org.uk/" target="_blank"> <img src="assets/images/lphsbadge.png" alt="Lanarkshire Police Historical Society"><br><h5>Lanarkshire Police Historical Society</h5></a>
                </div>
            </div>
        </div>
    </footer>
</body>

<!--JS Links-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>