{% extends 'base.html' %}
{% block content %}
    <div class="main font">
<!--Account Details-->
        <div class="container">
            <div class="row">
                <section class="col-md-6 blue-link">
                    <div class="border">
                        <h4 class="heading font-heavy font-blue">{{ member.first_name }}'s Account Details</h4>
                        <form>
                            <div class="form-group form-row justify-content-center">
                                <label for="name" class="col-4 col-form-label">Name: </label>
                                <div class="col-8">
                                    <input type="text" readonly class="form-control-plaintext" id="name" name="name" value="{{ member.first_name}} {{ member.last_name }}">
                                </div>
                            </div>
                            <div class="form-group form-row justify-content-center">
                                <label for="email" class="col-4 col-form-label">Email: </label>
                                <div class="col-8">
                                    <input type="text" readonly class="form-control-plaintext" id="email" name="email" value="{{ member.email }}">
                                </div>
                            </div>
                            <div class="form-group form-row justify-content-center">
                                <label for="telephone" class="col-4 col-form-label">Telephone: </label>
                                <div class="col-8">
                                    <input type="text" class="form-control-plaintext" id="telephone" name="telephone" value="{{ member.telephone }}">
                                </div>
                            </div>
                            <div class="form-group form-row justify-content-center">
                                <label for="employer" class="col-4 col-form-label">Employer: </label>
                                <div class="col-8">
                                    <input type="text" readonly class="form-control-plaintext" id="employer" name="employer" value="{{ member.employer }}">
                                </div>
                            </div>
                            <div class="form-group form-row justify-content-center">
                                <label for="job_title" class="col-4 col-form-label">Job Title: </label>
                                <div class="col-8">
                                    <input type="text" readonly class="form-control-plaintext" id="job_title" name="job_title" value="{{ member.job_title }}">
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
        <!--Task options-->
                <section class="col-md-6">
                    <div class="border">
                        <h4 class="heading font-heavy font-blue">What would you like to do?</h4>
                        <h5><a class="btn background-blue" href="{{ url_for('account', email=session['email']) }}" role="button">Update your account details</a></h5>
                        <h5><a class="btn background-blue" href="{{ url_for('new_question') }}" role="button">Ask a new question</a></h5>
                        <h5><a class="btn background-blue" href="#" role="button">See your current/old questions</a></h5>
                    </div>
                </section>              
            </div>      
        </div>
<!--Member Queries-->
        <section >
            <table class="container table table-hover table-striped">
                <thead>
                    <tr>
                    <th scope="col">Query Type</th>
                    <th scope="col">Query Summary</th>
                    <th scope="col">RCN Lead</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    </tr>
                </thead>
            {% for question in questions %}
                <tbody>
                    <a href="">
                        <tr>
                        <td>{{question.question_type}}</td>
                        <td>{{question.summary}}</td>
                        <td>{{question.rcn_lead}}</td>
                        <td>{{question.start_date}}</td>
                        <td>{{question.end_date}}</td>
                        </tr>
                    </a>
                </tbody>
            {% endfor %}
            </table> 
        </section> 
    </div>
{% endblock %}