{% extends 'base.html' %}
{% block content %}
<!--Breacrumbs-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb font">
            <li class="breadcrumb-item"><a href="{{ url_for('home', username=session['username']) }}">Your Home Page</a></li>
            {% if user.role == "member" %}
            <li class="breadcrumb-item"><a href="{{ url_for('question_details', question_id=question._id) }}">Question Details</a></li>
            {% elif user.role == "staff" %}
            <li class="breadcrumb-item"><a href="{{ url_for('staff_question_details', question_id=question._id) }}">Question Details</a></li>
            {% else %}     
            <li class="breadcrumb-item">Question Details</li>
            {% endif %}       
            <li class="breadcrumb-item active" aria-current="page">Contact Form</li>
        </ol>
    </nav>
<!--Background image-->
    <div class="main background-picture new-question-background">
        <section class="font main opaque-white">
<!--New Contact Form-->
            <div class="container">
                <div class="main row align-items-center justify-content-center">
                    <div class="col-sm-8">    
                        <form action=" " method="POST">  
                            <div class="form-row">
                                <div class="form-group col-lg-5">
                                    <div class="form-row">
                                        <label class="form-control-label col-4" for="from">From:</label>
                                        <div class="col-8">
                                            <input class="form-control-plaintext" type="text" id="from" name="from" value="{{user.first_name}} {{user.last_name}}">                                              
                                        </div>                              
                                    </div>
                                </div>
                                <div class="form-group col-lg-5">
                                    <div class="form-row">
                                        <label class="form-control-label col-4" for="to">To:</label>
                                        <div class="col-8">
                                        {% if user.role == "member" %}
                                            <input class="form-control-plaintext" type="text" id="from" name="from" value="{{question.staff_id}}">
                                        {% elif user.role == "staff" %}  
                                            <input class="form-control-plaintext" type="text" id="from" name="from" value="{{member.first_name}} {{member.last_name}}">
                                        {% else %}  
                                            <p>Error with your account, please contact IT</p>  
                                        {% endif %}                                          
                                        </div>                                    
                                    </div>                        
                                </div>                                
                            </div>
                            <div class="form-row">
                                <div class="form-group col-10">
                                    <textarea class="form-control" id="summary" name="summary" rows="5" placeholder="What would you like to say?"></textarea>
                                </div>       
                            </div>
                            <div class="form-group">
                                <button type="submit" class="blue-btn btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>    
{% endblock %}