{% extends 'base.html' %}
{% block content %}
<form class="form-group" action="{{url_for('submit_query')}}" method="POST">  
    <div class="form-group row">
        <label for="from" class="col-sm-2 col-form-label">From</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="from" name="from" value="member">
        </div>
    </div>
    <div class="form-group row">
        <label for="to" class="col-sm-2 col-form-label">To</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="to" name="to" value="RCN">
        </div>
    </div>
    <div>
        <label for="queryTextArea">What is your new question?</label>
        <textarea class="form-control" id="details" name="details" rows="3" placeholder="Please provide as much detail as possible to allow us to fully answer your question"></textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}