{% extends 'base.html' %}
{% block content %}
    <div class="main font">
<!--Breacrumbs-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('member_home', email=session['email']) }}">Your Home Page</a></li>
            <li class="breadcrumb-item active" aria-current="page">Question Details</li>
        </ol>
    </nav>
<!--Account Details-->
        <div class="container">
            <div class="row">
                <section class="col-md-6 blue-link">
                    <div class="border">
                        <h4 class="heading font-heavy font-blue">Your RCN Lead</h4>
                        <form>
                            <div class="form-group form-row justify-content-center">
                                <label for="name" class="col-4 col-form-label">Name: </label>
                                <div class="col-8">
                                    <input type="text" readonly class="form-control-plaintext" id="name" name="name" value="">
                                </div>
                            </div>
                            <div class="form-group form-row justify-content-center">
                                <label for="email" class="col-4 col-form-label">Email: </label>
                                <div class="col-8">
                                    <input type="text" readonly class="form-control-plaintext" id="email" name="email" value="">
                                </div>
                            </div>
                            <div class="form-group form-row justify-content-center">
                                <label for="telephone" class="col-4 col-form-label">Telephone: </label>
                                <div class="col-8">
                                    <input type="text" class="form-control-plaintext" id="telephone" name="telephone" value="">
                                </div>
                            </div>
                            <div class="form-group form-row justify-content-center">
                                <label for="workplace" class="col-4 col-form-label">Workplace: </label>
                                <div class="col-8">
                                    <input type="text" readonly class="form-control-plaintext" id="workplace" name="workplace" value="">
                                </div>
                            </div>
                            <div class="form-group form-row justify-content-center">
                                <label for="job_title" class="col-4 col-form-label">Job Title: </label>
                                <div class="col-8">
                                    <input type="text" readonly class="form-control-plaintext" id="job_title" name="job_title" value="">
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
<!--Question-->        
                <section class="col-md-6">
                    <div class="border row">
                        <div class="col font font-blue">
                            <h4 class="heading font-heavy font-blue padding-bottom">{{question.question_type}} question</h4>
                            <p>{{question.start_date}}</p>
                            <h5>{{question.summary}}</h5>
                        </div>
                    </div>
<!--Task options-->
                    <div class="border row">
                        <div class="col">
                            <h4 class="heading font-heavy font-blue">What would you like to do?</h4>
                            <h5><a class="blue-btn btn background-blue" href="{{ url_for('new_contact', question_id=question._id) }}" role="button">Contact your RCN Lead</a></h5>
                            <h5><a class="blue-btn btn background-blue" href="#" role="button">Upload a file</a></h5>
                            <h5><a class="blue-btn btn background-blue" href="#" role="button">Browse your contacts</a></h5>
                        </div>
                    </div>
                </section>              
            </div>      
        </div>
<!--Member Questions-->
        <section class="container">
            <div class="border">
                <h4 class="heading font-heavy font-blue">Contacts</h4>
                <div class="row">
                    <div class="col" id="accordion">
                    {% for contact in contacts %}
                        <div class="card">
                            <div class="card-header" id="heading{{contact._id}}">
                                <div class="mb-0">
                                    <div class="row align-items-center">
                                        <div class="col-sm-4">
                                            <h5 class="font-heavy font-blue">{{contact.contact_type}}</h5>
                                        </div>
                                        <div class="col-sm-4">
                                            <span>{{contact.date}}</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <button class="btn blue-btn btn-link accordian-btn collapsed" data-toggle="collapse" data-target="#collapse{{contact._id}}" aria-expanded="false" aria-controls="collapse{{contact._id}}">
                                            Details
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            From: {{contact.from}}
                                        </div>
                                        <div class="col">
                                            To: {{contact.to}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="collapse{{contact._id}}" class="collapse" aria-labelledby="heading{{contact._id}}" data-parent="#accordion">
                            <div class="card-body">
                                {{contact.summary}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section> 
    </div>
{% endblock %}