{% extends 'base.html' %}
{% block content %}
<!--Banner-->
    <section class="container-fluid banner text-center background-blue font font-heavy">
        <h2>Sign Up</h2>
    </section>
<!--Signup Form-->
    <section class="container-lg font font-blue">
        <form action="{{ url_for('signup_send') }}" method="POST">  
            {{ form.hidden_tag() }}
            <div class="form-row">
                <div class="form-group col-6">
                    {{ form.first_name.label(class="form-control-label") }}
                    {{ form.first_name(class="form-control") }}
                </div>
                <div class="form-group col-6">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="form-group col-6">
                    <label for="telephone">Telephone</label>
                    <input type="text" class="form-control" id="telephone" name="telephone">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address">
                </div>
                <div class="form-group col-3">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city">
                </div>
                <div class="form-group col-3">
                    <label for="postcode">Post Code</label>
                    <input type="text" class="form-control" id="postcode" name="postcode">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="employer">Employer</label>
                    <input type="text" class="form-control" id="employer" name="employer">
                </div>
                <div class="form-group col-6">
                    <label for="workplace">Workplace</label>
                    <input type="text" class="form-control" id="workplace" name="workplace">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="job_title">Job Title</label>
                    <select class="form-control" id="job_title" name="job_title">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn">Signup</button>
            </div>
        </form>
    </section>
{% endblock %}