{% extends 'base.html' %}
{% block content %}
    <div class="main font">
<!--Breacrumbs-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('staff_home', username=session['username']) }}">Your Home Page</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('unassigned_questions', username=session['username']) }}">Unassigned Questions</a></li>
            <li class="breadcrumb-item active" aria-current="page">Question Details</li>
        </ol>
    </nav>
<!--RCN Lead Details-->
        <div class="container">
            <div class="row">
                <section class="col-md-6 blue-link">
                    <div class="border">
                        <h4 class="heading font-heavy font-blue">Member's Account Details</h4>
                        <form>
                            <div class="form-group form-row justify-content-center">
                                <label for="name" class="col-4 col-form-label">Name: </label>
                                <div class="col-8">
                                    <input type="text" readonly class="form-control-plaintext" id="name" name="name" value="{{ member.first_name}} {{ member.last_name }}">
                                </div>
                            </div>
                            <div class="form-group form-row justify-content-center">
                                <label for="username" class="col-4 col-form-label">Username: </label>
                                <div class="col-8">
                                    <input type="text" readonly class="form-control-plaintext" id="username" name="username" value="{{ member.username }}">
                                </div>
                            </div>
                            <div class="form-group form-row justify-content-center">
                                <label for="email" class="col-4 col-form-label">Email: </label>
                                <div class="col-8">
                                    <input type="text" readonly class="form-control-plaintext" id="email" name="email" value="{{ member.email }}">
                                </div>
                            </div>
                            <div class="form-group form-row justify-content-center">
                                <label for="telephone" class="col-4 col-form-label">Telephone: </label>
                                <div class="col-8">
                                    <input type="text" class="form-control-plaintext" id="telephone" name="telephone" value="{{ member.telephone }}">
                                </div>
                            </div>
                            <div class="form-group form-row justify-content-center">
                                <label for="employer" class="col-4 col-form-label">Employer: </label>
                                <div class="col-8">
                                    <input type="text" readonly class="form-control-plaintext" id="employer" name="employer" value="{{ member.employer }}">
                                </div>
                            </div>
                            <div class="form-group form-row justify-content-center">
                                <label for="job_title" class="col-4 col-form-label">Job Title: </label>
                                <div class="col-8">
                                    <input type="text" readonly class="form-control-plaintext" id="job_title" name="job_title" value="{{ member.job_title }}">
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
<!--Question-->        
                <section class="col-md-6">
                    <div class="border row">
                        <div class="col font font-blue">
                            <h4 class="heading font-heavy font-blue padding-bottom">{{question.question_type}} question</h4>
                            <p>{{question.start_date}}</p>
                            <h5>{{question.summary}}</h5>
                        </div>
                    </div>
<!--Task options-->
                    <div class="border row">
                        <div class="col">
                            <h4 class="heading font-heavy font-blue">What would you like to do?</h4>
                            <h5><a class="blue-btn btn background-blue" href="{{ url_for('new_contact', question_id=question._id) }}" role="button">Contact your RCN Lead</a></h5>
                            <h5><a class="blue-btn btn background-blue" href="#" role="button">Upload a file</a></h5>
                            <h5><button class="blue-btn btn background-blue" onclick="scrollContacts()" role="button">Browse your contacts</button></h5>
                        </div>
                    </div>
                </section>              
            </div>      
        </div>
<!--Contacts-->
        <section class="container">
            <div class="border" id="contacts">
                <h4 class="heading font-heavy font-blue">Contacts</h4>
                <div class="row">
                {% if contacts %}
                    <div class="col" id="accordion">
                    {% for contact in contacts %}
                        <div class="card">
                            <div class="card-header" id="heading{{contact._id}}">
                                <div class="mb-0 row align-items-center">
                                    <div class="col-sm-3">
                                        <span>{{contact.date}}</span>
                                    </div>
                                    <div class="col-sm-3">
                                        From: {{contact.from}}
                                    </div>
                                    <div class="col-sm-3">
                                        To: {{contact.to}}
                                    </div>
                                    <div class="col-sm-3">
                                        <button class="btn blue-btn btn-link accordian-btn collapsed" data-toggle="collapse" data-target="#collapse{{contact._id}}" aria-expanded="false" aria-controls="collapse{{contact._id}}">
                                        Details
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse{{contact._id}}" class="collapse" aria-labelledby="heading{{contact._id}}" data-parent="#accordion">
                                <div class="card-body">
                                    <h5 class="font-heavy font-blue">{{contact.contact_type}} contact</h5>
                                    {{contact.summary}}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% else %}
                    <div class="col">
                        <p>There are no contacts for this case yet. If you contact your RCN Lead or they contact you, details will appear here.</p>
                    </div>
                {% endif %}
                </div>
            </div>
        </section> 
    </div>
{% endblock %}