{% extends 'base.html' %}
{% block content %}
    <div class="main font">
<!--Breacrumbs-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('home', username=session['username']) }}">Your Home Page</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('member_list') }}">Member List</a></li> 
                <li class="breadcrumb-item"><a href="{{ url_for('member_details', member_id=member._id) }}">Member Details</a></li>               
                <li class="breadcrumb-item active" aria-current="page">Question Details</li>
            </ol>
        </nav>
        <div class="main background-picture question-details-background">
            <div class="main opaque-white"> 
                <div class="container">
                    <div class="row">
<!--Task options-->
                        <section class="col-12">
                            <div class="border">
                                <h4 class="heading font-heavy font-blue">What would you like to do?</h4>
                                <a class="blue-btn btn background-blue accordion-btn" href="{{ url_for('new_contact', question_id=question._id)}}" role="button">Contact Member</a>                         
                                <a class="blue-btn btn background-blue accordion-btn" href="{{ url_for('staff_new_contact', question_id=question._id) }}" role="button">Add Contact</a>
                                <button type="button" class="btn blue-btn accordion-btn" data-toggle="modal" data-target="#{{question._id}}Modal">Assign Question</button>
                                <button class="blue-btn btn background-blue accordion-btn" onclick="scrollContacts()" role="button">Browse Contacts</button>  
                            {% if question.end_date %}   
                                <a class="blue-btn btn background-blue accordion-btn" href="{{ url_for('reopen_question', question_id=question._id)}}" role="button">Reopen Question</a>
                            {% else %}  
                                <button type="button" class="btn blue-btn background-blue accordion-btn" data-toggle="modal" data-target="#{{question._id}}CloseModal">Close Question</button> 
                            {% endif %} 
                            </div>
                        </section>  
<!--Question--> 
                        <section class="col-md-6 blue-link">
                            <div class="border">
                                <h4 class="heading font-heavy font-blue">Question Details</h4>
                                <form>
                                    <div class="form-group form-row justify-content-center">
                                        <label for="question_type" class="col-4 col-form-label">Question Type: </label>
                                        <div class="col-8">
                                            <input type="text" readonly class="form-control-plaintext" id="question_type" name="question_type" value="{{ question.question_type.capitalize() }}">
                                        </div>
                                    </div>
                                    <div class="form-group form-row justify-content-center">
                                        <label for="staff_id" class="col-4 col-form-label">RCN Lead: </label>
                                        <div class="col-8">
                                            <input type="text" readonly class="form-control-plaintext" id="staff_id" name="staff_id" value="{{ question.staff_id }}">
                                        </div>
                                    </div>
                                    <div class="form-group form-row justify-content-center">
                                        <label for="start_date" class="col-4 col-form-label">Start Date: </label>
                                        <div class="col-8">
                                            <input type="text" readonly class="form-control-plaintext" id="start_date" name="start_date" value="{{ question.start_date }}">
                                        </div>
                                    </div>
                                    <div class="form-group form-row justify-content-center">
                                        <label for="end_date" class="col-4 col-form-label">End Date: </label>
                                        <div class="col-8">
                                            <input type="text" class="form-control-plaintext" id="end_date" name="end_date" value="{{ question.end_date }}">
                                        </div>
                                    </div>
                                    <div class="form-group form-row justify-content-center">
                                        <label for="summary" class="col-4 col-form-label">Summary: </label>
                                        <div class="col-8">
                                            <textarea type="text" readonly class="form-control-plaintext" id="summary" name="summary" rows="3">{{ question.summary }}</textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>    
<!--Member Account Details--> 
                        <section class="col-md-6 blue-link">
                            <div class="border">
                                <h4 class="heading font-heavy font-blue">Member's Account Details</h4>
                                <form>
                                    <div class="form-group form-row justify-content-center">
                                        <label for="name" class="col-4 col-form-label">Name: </label>
                                        <div class="col-8">
                                            <input type="text" readonly class="form-control-plaintext" id="name" name="name" value="{{ member.first_name}} {{ member.last_name }}">
                                        </div>
                                    </div>
                                    <div class="form-group form-row justify-content-center">
                                        <label for="username" class="col-4 col-form-label">Username: </label>
                                        <div class="col-8">
                                            <input type="text" readonly class="form-control-plaintext" id="username" name="username" value="{{ member.username }}">
                                        </div>
                                    </div>
                                    <div class="form-group form-row justify-content-center">
                                        <label for="email" class="col-4 col-form-label">Email: </label>
                                        <div class="col-8">
                                            <input type="text" readonly class="form-control-plaintext" id="email" name="email" value="{{ member.email }}">
                                        </div>
                                    </div>
                                    <div class="form-group form-row justify-content-center">
                                        <label for="telephone" class="col-4 col-form-label">Telephone: </label>
                                        <div class="col-8">
                                            <input type="text" class="form-control-plaintext" id="telephone" name="telephone" value="{{ member.telephone }}">
                                        </div>
                                    </div>
                                    <div class="form-group form-row justify-content-center">
                                        <label for="employer" class="col-4 col-form-label">Employer: </label>
                                        <div class="col-8">
                                            <input type="text" readonly class="form-control-plaintext" id="employer" name="employer" value="{{ member.employer }}">
                                        </div>
                                    </div>
                                    <div class="form-group form-row justify-content-center">
                                        <label for="job_title" class="col-4 col-form-label">Job Title: </label>
                                        <div class="col-8">
                                            <input type="text" readonly class="form-control-plaintext" id="job_title" name="job_title" value="{{ member.job_title }}">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>           
                    </div>      
                </div>
<!--Member Questions-->
                <section class="container">
                    <div class="border" id="contacts">
                        <h4 class="heading font-heavy font-blue">Contacts</h4>
                    </div>
                </section> 
            </div> 
        </div>
    </div>
<!--Modal - Assign Question-->
    <div class="modal fade" id="{{question._id}}Modal" tabindex="-1" role="dialog" aria-labelledby="{{question._id}}ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content font-blue">
                <div class="modal-header">
                    <h5 class="modal-title font-heavy" id="{{question._id}}ModalLabel">Assign Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" method="POST">  
                    <input type="hidden" id="question_id" name="question_id" value="{{question._id}}">
                    <div class="modal-body">
                        <div class="form-group form-row justify-content-center">
                            <label for="staff_id" class="col-4 col-form-label">RCN Lead: </label>
                            <div class="col-8">
                                <select class="form-control" name="staff_id" id="staff_id">
                                    <option value="unassigned">unassigned</option>
                                    {% for staff in staff_list %}
                                        <option value="{{staff.username}}">{{staff.username}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div> 
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn blue-btn">Assign</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--Modal - Close Question-->
    <div class="modal fade" id="{{question._id}}CloseModal" tabindex="-1" role="dialog" aria-labelledby="{{question._id}}CloseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content font-blue">
                <div class="modal-header">
                    <h5 class="modal-title font-heavy" id="{{question._id}}CloseModalLabel">Close Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ url_for('close_question', question_id=question._id) }}" method="POST">  
                    <input type="hidden" id="question_id" name="question_id" value="{{question._id}}">
                    <div class="modal-body">
                        <div class="form-group form-row justify-content-center">
                            <label for="end_date" class="col-form-label">Are you sure you'd like to close the question?</label>
                        </div> 
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn blue-btn">Close Question</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}