{% extends 'base.html' %}
{% block content %}
    <div class="main font">
<!--Staff Account Details-->
        <div class="container">
            <div class="row">
                <section class="col-md-6 blue-link">
                    <div class="border">
                        <h4 class="heading font-heavy font-blue">{{ staff.username }}'s Account Details</h4>
                        <form>
                            <div class="form-group form-row justify-content-center">
                                <label for="name" class="col-4 col-form-label">Name: </label>
                                <div class="col-8">
                                    <input type="text" readonly class="form-control-plaintext" id="name" name="name" value="{{ staff.username }}">
                                </div>
                            </div>
                            <div class="form-group form-row justify-content-center">
                                <label for="email" class="col-4 col-form-label">Email: </label>
                                <div class="col-8">
                                    <input type="text" readonly class="form-control-plaintext" id="email" name="email" value="{{ staff.email }}">
                                </div>
                            </div>
                            <div class="form-group form-row justify-content-center">
                                <label for="telephone" class="col-4 col-form-label">Telephone: </label>
                                <div class="col-8">
                                    <input type="text" class="form-control-plaintext" id="telephone" name="telephone" value="{{ staff.telephone }}">
                                </div>
                            </div>
                            <div class="form-group form-row justify-content-center">
                                <label for="employer" class="col-4 col-form-label">Workplace: </label>
                                <div class="col-8">
                                    <input type="text" readonly class="form-control-plaintext" id="employer" name="employer" value="{{ staff.workplace }}">
                                </div>
                            </div>
                            <div class="form-group form-row justify-content-center">
                                <label for="job_title" class="col-4 col-form-label">Job Title: </label>
                                <div class="col-8">
                                    <input type="text" readonly class="form-control-plaintext" id="job_title" name="job_title" value="{{ staff.job_title }}">
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
        <!--Task options-->
                <section class="col-md-6">
                    <div class="border">
                        <h4 class="heading font-heavy font-blue">What would you like to do?</h4>
                        <h5><a class="blue-btn btn background-blue" href="#" role="button">See your assigned cases</a></h5>
                        <h5><a class="blue-btn btn background-blue" href="#" role="button">Browse all unassigned cases</a></h5>
                        <h5><button class="blue-btn btn background-blue" href="#" role="button">See all member accounts</button></h5>
                    </div>
                </section>    
            </div>
        </div>
<!--Member Questions-->
        <section class="container">
            <div class="border" id="questions">
                <h4 class="heading font-heavy font-blue">Your Assigned Cases</h4>
                <div class="row">
                {% if questions %}
                    <div class="col" id="accordion">
                    {% for question in questions %}
                        <div class="card">
                            <div class="card-header" id="heading{{question._id}}">
                                <div class="mb-0 row align-items-center">
                                    <div class="col-sm-4">
                                        <h5 class="font-heavy font-blue">{{question.question_type}}</h5>
                                    </div>
                                    <div class="col-sm-4">
                                        <span>{{question.start_date}}</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <button class="btn blue-btn btn-link accordian-btn collapsed" data-toggle="collapse" data-target="#collapse{{question._id}}" aria-expanded="false" aria-controls="collapse{{question._id}}">
                                        Summary
                                        </button>
                                        <a class="blue-btn btn accordian-btn" href="{{ url_for('question_details', question_id=question._id) }}">Full case</a>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse{{question._id}}" class="collapse" aria-labelledby="heading{{question._id}}" data-parent="#accordion">
                                <div class="card-body">
                                    {{question.summary}}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% else %}
                    <div class="col">
                        <p>You haven't asked any questions yet. When you do, they will appear here.</p>
                    </div>
                {% endif %}
                </div>
            </div>
        </section> 
    </div>
{% endblock %}