{% extends 'base.html' %}
{% block content %}
    <section class="container">
        <div class="border" id="questions">
            <h4 class="heading font-heavy font-blue">All Unassigned Cases</h4>
            <div class="row">
            {% if questions %}
                <div class="col" id="accordion">
                {% for question in questions %}
                    <div class="card">
                        <div class="card-header" id="heading{{question._id}}">
                            <div class="mb-0 row align-items-center">
                                <div class="col-sm-3">
                                    <h5 class="font-heavy font-blue">{{question.question_type}}</h5>
                                </div>
                                <div class="col-sm-3">
                                    <span>{{question.start_date}}</span>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn blue-btn btn-link accordian-btn collapsed" data-toggle="collapse" data-target="#collapse{{question._id}}" aria-expanded="false" aria-controls="collapse{{question._id}}">
                                    Summary
                                    </button>
                                    <a class="blue-btn btn accordian-btn" href="#">Full details</a>
                                    <a class="blue-btn btn accordian-btn" href="#">Assign question</a>
                                </div>
                            </div>
                        </div>
                        <div id="collapse{{question._id}}" class="collapse" aria-labelledby="heading{{question._id}}" data-parent="#accordion">
                            <div class="card-body">
                                {{question.summary}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% else %}
                <div class="col">
                    <p>There are no unassigned questions. Work's over, you can go home :)</p>
                </div>
            {% endif %}
            </div>
        </div>
    </section> 
{% endblock %}