{% extends 'base.html' %}
{% block content %}
    <!--Banner-->
    <div class="main background-picture welcome-background">
        <section class="font text-center blue-link main opaque-white">
            <div class="container-sm">
                <h3 class="question font-blue font-heavy">An easy way for RCN members to ask questions, check advice and keep in touch with the RCN.</h3>
                <h3 class="font-blue font-heavy">Are you an RCN:</h3>
                <a class="btn background-blue" href="{{ url_for('log_in') }}" role="button"><h4>Member?</h4></a>
                <a class="btn background-blue" href="#" role="button"><h4>Staff?</h4></a> 
            </div>       
        </section>    
    </div>
{% endblock %}