{% extends 'base.html' %}
{% block content %}
    <!--Banner-->
    <section class="container-fluid banner text-center background-blue font font-heavy">
        <h2>Welcome RCN Member</h2>
    </section>
    <section class="font text-center blue-link">
        <h3 class="question font-blue font-heavy">Would you like to:</h3>
        <a class="btn background-blue" href="#" role="button"><h4>Login?</h4></a>
        <a class="btn background-blue" href="#" role="button"><h4>Signup?</h4></a>        
    </section>
{% endblock %}